<form class="create-form">
    <h2 class="create-form__title">Создфние чат комнаты</h2>
    <label class="create-form__form-control">
        <input type="text" name="lat" class="input-control create-form__input" placeholder="широта">
    </label>
    <label class="create-form__form-control">
        <input type="text" name="lng" class="input-control create-form__input" placeholder="долгота">
    </label>
    <label class="create-form__form-control">
        <button class="btn btn__submit create-form__pick-coords-btn">Выбрать точку</button>
        <button class="btn btn__submit create-form__submit-btn">Создать</button>
    </label>
</form>