/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  font: 16px/1.2 Arial, sans-serif;
  background: url("./assets/images/Cities__039053_.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}